body  
{  
    background-image: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mouthshut.com%2Fproduct-reviews%2FBITS-Pilani-Photos-925002599&psig=AOvVaw1dEQMoQveBEPNK82bBCD38&ust=1649396402819000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCLjow86egfcCFQAAAAAdAAAAABAJ";
    margin: 0;  
    padding: 0;  
    background: color #23845f;  
    font-family: 'Arial';  
} 
.Page{
    font-size: large;
    background: #4e8bec;
    padding-bottom: 150px;
    padding-top: 30px;
} 
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#name{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#username{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}
#register{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  